h1 {
    text-align: center;
    color: red;
}
img {
    width: 330px;
    height:330px;
}
.item {
    width:330px;
  text-align: justify;

  margin-left: 50px;
  margin-bottom:10px;
  float: left;
  
} 
h2 {
    color: blue;
}
